body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 25%;
}
.container#header{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
}

.container#one {
    display: flex;
    flex-direction: column;
    background-color: #1F2947;
}

.container#inone {
    display: flex;
    justify-content: center;
}